<div class="mt-4">
    <div class="row">
        {{#each courses}}

        <div class="col-sm-6 col-lg-4">
           <div class="card card-course-item">
            <a href="/courses/{{slug}}">
                <img class="card-img-top" src="{{image}}" alt="{{name}}">
            </a>
            
            <div class="card-body">
                <a href="/courses/{{slug}}">
                    <h5 class="card-title">{{name}}</h5>
                </a>
                
                <p class="card-text">{{description}}</p>
                <a href="/courses/{{slug}}" class="btn btn-primary">Xem bài học</a>
            </div>
           </div>
        </div>

        {{/each}}

        
    </div>
    <nav class="mt-4" "mb-4"aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li name=""class="page-item"><a class="page-link" href="#">Previous</a></li>
                {{#each courses}}
                <li  class="page-item"><a class="page-link" href="/{{sum @index 1}}">{{sum @index 1}}</a></li>
                
                {{/each}}
                <li class="page-item"><a class="page-link" href="me/store/wheys">Next</a></li>
            </ul>
        </nav>
</div>


