<div class="mt-4">
    <div class="row">
        {{#each wheys}}

        <div class=".col-sm-6 col-lg-4">
           <div class="card card-course-item">
            <a href="/wheys/{{this.slug}}">
                <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            </a>
            
            <div class="card-body">
                <a href="/wheys/{{this.slug}}">
                    <h5 class="card-title">{{this.name}}</h5>
                </a>
                
                <p class="card-text"></p>
                <a href="/wheys/{{this.slug}}" class="btn btn-primary">Xem sản phẩm</a>
            </div>
           </div>
        </div>

        {{/each}}
    </div>
</div>